.navbar-brand img{
    height: 30px;
    width: 30px;
}

#profile{
    float: left;
    padding: 30px;  
}

.m{
    background-image: url(images/awge.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 400px;

}

#entry{
    text-align: center;
    padding-top: 65px;
    font-size: medium;
    color: aliceblue;
}

.n{
    background-image: url(images/wavy.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 420px;
    text-align: center;
    color: aliceblue;
    

}

.socials{ 
        
    text-align: center; 
    margin-right: 20px;
    margin-top:30px;
} 



.about-heading{
    padding-top: 5px;
    text-align: center;
}

.about-details{
    text-align: justify;
}

.about-heading1{
    padding-top: 5px;
    text-align: center;
}

.about-services{
    text-align: justify;
}

.logo {
    float:  left;
    width:  300px;
    height: 200px;
    padding: 30px; 
}

.section-heading{
    text-align: center;
}

.s{

    background-size:cover;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    color: rgb(24, 20, 19);
    background-color: rgb(243, 239, 234);

}


.p{

    background-size:cover;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    color: rgb(24, 20, 19);
    background-color: rgb(214, 147, 74);

}

.w{
    text-align: center;
    background-repeat: no-repeat;
}

.features{
    
    color: rgb(22, 2, 2);
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure{
    margin: auto;
    width: 500px;
    padding: 40px;
}

.features figure img{
    width: 400px;
}

footer{
  background: rgb(8, 8, 8);
  color: antiquewhite;
  height: 200px;
  position: relative;  
}

.footer .footer-bottom{
    background: rgb(8, 8, 8);
    color:gray;
    height:50px;
    width:100px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;

}

.skills {
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.skills figure{
    margin: auto;
}

@media screen and (max-width: 715px) {
    .features{
        display:block
    }
  
}

@media screen and (max-width: 715px) {
    .skills{
        display:block
    }
  
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

 
  /* LinkedIn */
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }




